<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>


<table border="1">
    <thead>
        <tr>
            <th>Rule Name</th>
            <th>Description</th>
            <th>Source IP Address</th>
            <th>Destination IP Address</th>
            <th>Source Zone</th>
            <th>Destination Zone</th>
            <th>Action</th>
        </tr>
    </thead>
    {% for item in csvfile.split("\n") %}
    {%   if loop.index != 1 %}
    {%     set list = item.split(",") %}
    <tbody>
        <tr>
            <td align='center'>{{ list[0]|trim() }}</td>
            <td align='center'>{{ list[1]|trim() }}</td>
            <td align='center'>{{ list[2]|trim() }}</td>
            <td align='center'>{{ list[3]|trim() }}</td>
            <td align='center'>{{ list[4]|trim() }}</td>
            <td align='center'>{{ list[5]|trim() }}</td>
            <td align='center'>{{ list[6]|trim() }}</td>
        </tr>
    </tbody>
    {%   endif %}
    {% endfor %}
</table>



<footer> Reported generated on: {{ansible_date_time.date}} @ {{ansible_date_time.time}} </footer>
</body>
</html>
