<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>


<table border="1">
    <thead>
        <tr>
            <th>Firewall</th>
            <th>Current ACLs</th>
        </tr>
    </thead>
    {% for host in groups['panos'] %}
    <tbody>
        <tr>
            <td align='center'>{{ hostvars[host]['tags']['Name'] }}</td>
            <td align='center'><a href="https://s3.amazonaws.com/{{firewall_inventory_webpage_name|lower}}.{{dns_zone}}/{{hostvars[host]['tags']['Name']|lower}}.html">Rules Link</a></td>
        </tr>
    </tbody>
    {% endfor %}
</table>



</body>
</html>
